
._3arMG {
    position: relative;
    padding-top: 80px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1240px;
}
._76q0O {
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-position-x: initial;
        background-position-y:initial;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    contain: size,layout,style;
    padding: 0 20px;
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
}
article, aside, footer, header, nav, section
{
    display: block;
}

.global-nav{
font-size: 14px;
line-height: 1.2;
}
._1EuBh {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
a, a:focus, a:hover, a:visited {
    text-decoration: none;
}
.d9y3g {
    display: block;
    height: 49px;
    transition: transform .3s cubic-bezier(.215,.61,.355,1);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0s;
}
svg:not(:root) {
    overflow: hidden;
}
._8pSp- {
    stroke: currentColor;
    fill: #fc8019;
    stroke-width: 0;
}
._1tcx6, ._2z2N5 {
    position: relative;
}
._2z2N5 {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
}
._3odgy {
    display: block;
    min-width: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    white-space: nowrap;
}
._2vS77 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 14px;
    font-weight: 600;
}
._3HusE {
    display: block;
    padding-left: 5px;
    margin-left: 5px;
    color: #686b78;
    text-overflow: ellipsis;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    white-space: nowrap;
}

.kVKTT {
    position: absolute;
    right: -12px;
    top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
    font-size: .9rem;
    color: #fc8019;
    font-weight: 700;
    }
[class*=" icon-"], [class^=icon-] 
{
        font-family: icomoon;
        speak: none;
        font-style: normal;
        
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
}
._1fo6c:hover ._2MSid, ._1fo6c:hover ._173fq {
    fill: #fff!important;
    stroke: #fc8019!important;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    display: block;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
._1JNGZ {
   
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: 0;
    
    display: flex;
    
    flex-direction: row-reverse;
    height: 100%;
   
    align-items: center;
}
._1fo6c:first-child {
    margin-right: 0;
}
._1fo6c {
    
    color: #f1f3f8;
    font-size: 16px;
    font-weight: 500;
}
._1fmVk._30y3a{
    position: relative;
}
div {
    display: block;
}
._2CgXb {
    position: relative;
    height: 80px;
    cursor: pointer;
}
a, a:focus, a:hover, a:visited {
    text-decoration: none;
}
._1T-E4, ._2CgXb {
   
    display: flex;
    
    align-items: center;
    padding-left: 28px;
}
._3yZyp{
-webkit-font-smoothing: antialiased;
font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
letter-spacing: 0;
list-style-type: none;
font-size: 16px;
font-weight: 500;
color: inherit;
box-sizing: inherit;
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
line-height: 0;
}
._1T-E4 {
    height: 100%;
    margin-left: -28px;
    color: inherit;
}
a {
    background-color: transparent;
    
}
._1fo6c {
    margin-right: 60px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
}
._2CgXb {
    position: relative;
    height: 80px;
    cursor: pointer;
}
._3yZyp {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    line-height: 0;
}
._1fo6c:hover ._2MSid, ._1fo6c:hover ._173fq {
    fill: #fff!important;
    stroke: #fc8019!important;
}
svg:not(:root) {
    overflow: hidden;
}
._1GTCc {
    position: relative;
    stroke: currentColor;
    fill: #3d4152;
    stroke-width: 0;
}
.PJaej {
    color: #ffa700;
    font-size: 10px;
    top: 26px;
    font-weight: 600;
    position: absolute;
    right: -24px;
    text-transform: uppercase;
}
.nDVxx {
    flex-grow: 1;
}
._3kbpE {
    height: 100%;
}
._29C7I {
    padding: 0 20px;
    background-color: #171a29;
    contain: content;
}
.pI5n2 {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 340px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    contain: layout;
}
._13eJa {
    position: relative;
    width: 100%;
}
._3dU2z {
    width: 100%;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    padding: 15px 0;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 15px;
        padding-left: 0px;
    margin: -15px 0;
        margin-top: -15px;
        margin-right: 0px;
        margin-bottom: -15px;
        margin-left: 0px;
    }
._2ntE2 {
        height: 260px;
    }
._1wKMm {
        transition: transform .5s ease;
            transition-property: transform;
            transition-duration: 0.5s;
            transition-timing-function: ease;
            transition-delay: 0s;
        white-space: nowrap;
    }
    div {
        display: block;
    }
    ._3e_kl {
        display: inline-block;
        cursor: pointer;
    }
    ._3e_kl img {
        transition: transform .5s cubic-bezier(.215,.61,.355,1);
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        transform: translateZ(0);
    }
    ._1gDnr, ._1OhVk {
        display: block;
    }
    img {
        border-style: none;
    }
    ._12MuM {
        right: 0;
        -ms-transform: translate(50%,-50%);
        transform: translate(50%,-50%);
    }
    
    ._1Wnte {
        position: absolute;
        top: 50%;
        width: 47px;
        height: 47px;
        background-color: #fff;
        box-shadow: 0 1px 3px 0 rgba(41,48,63,.25);
        border-radius: 100%;
            border-top-left-radius: 100%;
            border-top-right-radius: 100%;
            border-bottom-right-radius: 100%;
            border-bottom-left-radius: 100%;
        text-align: center;
        cursor: pointer;
        outline: 0;
            outline-color: initial;
            outline-style: initial;
            outline-width: 0px;
    }   
*, :after, :before {
     box-sizing: inherit;
    }
    ._2ByCT {
        
        transform: rotate(180deg);
    }


    ._1An_C, ._2ByCT {
        position: relative;
        display: block;
        color: #535665;
        font-size: 1.3rem;
        transition: transform .3s cubic-bezier(.215,.61,.355,1);
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-delay: 0s;
        font-weight: 600;
    }
    [class*=" icon-"],
     [class^=icon-] {
        font-family: icomoon;
        speak: none;
        font-style: normal;
       
        font-variant: normal;
            font-variant-ligatures: normal;
            font-variant-caps: normal;
            font-variant-numeric: normal;
            font-variant-east-asian: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    
    }
    svg:not(:root) {
        overflow: hidden;
    }
    ._2MSid {
        fill: #9a9b9d;
        stroke-width: 2px;
        stroke: #282c3f;
    }
    ._1GTCc {
        position: relative;
        stroke: currentColor;
        fill: #3d4152;
        stroke-width: 0;
    }
.icon-back._2ByCT{
    font: inherit;
    text-align: center;
    cursor: pointer;
    box-sizing: inherit;
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: relative;
    display: block;
    color: #535665;
    font-size: 1.3rem;
    transition: transform .3s cubic-bezier(.215,.61,.355,1);
    font-weight: 600;
    transform: rotate(180deg) translateX(-4px);
}
.icon-back:before {
        content:"\e924";
}
*, :after, :before {
    box-sizing: inherit; 
}
._3yUWu {
    
    position: sticky;
    top: 80px;
    z-index: 1;
}
._2O391 {
    opacity: 1;
    pointer-events: all;
}
.wMwim {
  
    display: flex;
    
    flex-direction: column;
}
._9UWZF {
    padding: 0 20px;
    background-color: #f2f6fc;
    height: 130px;
    display: block;
}
._2pp7B {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    
    display: flex;
    
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}
._3NYdS, .VfiRh {
    
    display: flex;
}

.VfiRh {
    width: 884px;
    margin-left: auto;
    margin-right: auto;
    
    justify-content: center;
}
._2y_Nh {
    padding: 20px 0;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
}
._2O391 {
    
    pointer-events: all;
}
._3G-ue {
    cursor: pointer;
}
._1jdf2, ._3B51E {
    width: 164px;
}
.KYcR9 {
    width: 130px;
}
._11Q9S {
    width: 100%;
    
    display: flex;
}
.xRW9W:first-child {
    z-index: 2;
    position: relative;
}
.xRW9W {
    width: calc((100% - 80px) / 2);
}
._1kEGw {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 5px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 5px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 5px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 5px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
}
._2TPYm {
    height: 100%;
    width: 100%;
    border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
}

._12_oN {
    
    transition: opacity .3s ease-out;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
._2tuBw {
    opacity: 1!important;
}
img {
    border-style: none;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
}
.xRW9W:nth-child(2) {
    z-index: 1;
    position: relative;
}
.xRW9W {
    width: calc((100% - 80px) / 2);
}
._1kEGw {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 5px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 5px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 5px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
}
._2TPYm {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
._12_oN {
    
    transition: opacity .3s ease-out;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
._2tuBw {
    opacity: 1!important;
}
img {
    border-style: none;
}
*, :after, :before {
    box-sizing: inherit;
}
._3G-ue {
    cursor: pointer;
}
._2O391 {
    
    pointer-events: all;
}
.xRW9W {
    width: calc((100% - 80px) / 2);
}
._2TPYm {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
._12_oN {
    transition: opacity .3s ease-out;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
._2tuBw {
    opacity: 1!important;
}
img {
    border-style: none;
}
._2y1z9, ._2ZHi3 {
   
    display: flex;
}
._3G7nn {
    cursor: pointer;
    padding-left: 20px;
}

._2ZzvF {
    
    display: flex;
   
    flex-direction: row;
   
    align-items: center;
    max-width: 556px;
}
._1Uqac {
    
    display: flex;
    
    flex-grow: 1;
}
._1Uqac, ._3WrTR {
    
    flex-direction: column;
}
._3xx0Z {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

h3 {
    display: block;
   
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.uLWJy {
    width: 100%;
}
._2C5j4, ._2Hw0u {
    display: inline-block;
}
._30LDF {
    margin-top: 0;
}
._3znwR {
    font-size: 14px;
    font-weight: 300;
    max-width: 256px;
    margin-top: 2px;
    color: #93959f;
}
.ZDc_Q {
    
    display: flex;
  
    flex-direction: column;
    
    justify-content: center;
    
    align-items: center;
    margin-left: 30px;
}
.NVacy:hover {
    box-shadow: 0 2px 8px #a9abb2;
}
.NVacy:hover {
    position: relative;
    
}
.NVacy {
    
    
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    background-color: #e46d47;
    width: 110px;
    height: 36px;
    line-height: 36px;
    padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
}

._33xlm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
._20Bt4 {
    opacity: 0;
    pointer-events: none;
}
.wMwim {
    
    display: flex;
    
    flex-direction: column;
}
*, :after, :before {
    box-sizing: inherit;
}
._9UWZF {
    padding: 0 20px;
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
    background-color: #f2f6fc;
    height: 130px;
    display: block;
}
._2pp7B {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
     display: flex;
    -ms-flex-align: center;
    align-items: center;
   
    justify-content: space-between;
    height: 100%;
}
._3NYdS, .VfiRh {
    
    display: flex;
}
.VfiRh {
    width: 884px;
    margin-left: auto;
    margin-right: auto;
   
    justify-content: center;
}
._2y_Nh {
    padding: 20px 0;
}
._2y1z9, ._2ZHi3 {
   
    display: flex;
}
._3G-ue {
    cursor: pointer;
}
._2007M {
    width: 100px!important;
   
}
._11Q9S {
    width: 100%;
    
    display: flex;
}
.xRW9W:first-child {
    z-index: 2;
    position: relative;
}
.XytzK {
    width: 30px!important;
}
._3unjb {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
}
._1kEGw {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-style: solid;
    
    border: 5px solid #fff;
    border-top-color: rgb(255, 255, 255);
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
}div {
    display: block;
}._2TPYm {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
._12_oN {
    
    transition: opacity .3s ease-out;
}
._2tuBw {
    opacity: 1!important;
}
img {
    border-style: none;
}
.xRW9W:nth-child(2) {
    z-index: 1;
    position: relative;
}.XytzK {
    width: 30px!important;
}
._3unjb {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
        border-top-color: rgb(255, 255, 255);
        border-top-style: solid;
        border-top-width: 2px;
    border-right-color: rgb(255, 255, 255);
        border-right-style: solid;
        border-right-width: 2px;
    border-bottom-color: rgb(255, 255, 255);
        border-bottom-style: solid;
        border-bottom-width: 2px;
    border-left-color: rgb(255, 255, 255);
        border-left-style: solid;
        border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
._1kEGw {
    
    border-radius: 50%;
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    overflow: hidden;
    background-color: #fff;
}
._20Bt4 {
 
    pointer-events: none;
}
._2y1z9 {
    
    flex-grow: 1;
    
    align-items: center;
}
._2y1z9, ._2ZHi3 {
     display: flex;
}
._3G7nn {
    cursor: pointer;
    padding-left: 20px;
}
._2ZzvF {
    
    display: flex;
    
    flex-direction: row;
    
    align-items: center;
    max-width: 556px;
}
*, :after, :before {
    box-sizing: inherit;
}
._20Bt4 {
    opacity: 0;
    pointer-events: none;
}
._1Uqac {

    display: flex;
    
    flex-grow: 1;
}

._1Uqac, ._3WrTR {
    
    flex-direction: column;
}
.ReGFD {
    font-size: 16px;
}
._3xx0Z {
   
    font-weight: 600;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
._2C5j4, ._2Hw0u {
    display: inline-block;
}
._30LDF {
    margin-top: 0;
}
._3vFy7 {
    font-size: 12px;
    max-width: 280px;
}
._3znwR {
    
    font-weight: 300;
       margin-top: 2px;
    color: #93959f;
}